/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-background-color);
  border-bottom: 1px solid var(--ifm-border-color);
}

.hero__subtitle {
  text-align: center;
  color: var(--ifm-text-secondary);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.previewImage {
  width: 100%;
  height: auto;
  border-radius: 12px;

  border: 1px solid var(--ifm-border-color);
  border-radius: 12px;
  box-shadow: 0px 0px 25px 0px var(--ifm-border-color);
}

@media screen and (max-width: 996px) {
  .previewImage {
    display: none;
  }
}
