/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero-banner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-background-color);
  border-bottom: 1px solid var(--ifm-border-color);
}

.hero__title {
  font-size: 36px;
}

.hero__subtitle {
  text-align: center;
  color: var(--ifm-text-secondary);
  margin-right: 10rem;
  margin-left: 10rem;
  font-size: 18px;
  font-weight: 500;

  @media screen and (max-width: 996px) {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 996px) {
  .hero-banner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.buttons a {
  width: 100%;

  @media screen and (min-width: 600px) {
    width: auto;
  }
}

.hero-image__container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  border: 1px solid var(--ifm-border-color);
  border-radius: 12px;
  box-shadow: 0px 0px 25px 0px var(--ifm-border-color);
}

.hero-text__container {
  max-width: 1000px;
}

.preview-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

@media screen and (max-width: 996px) {
  .hero-image__container {
    display: none;
  }
}
