.features {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.features h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.features p {
  color: var(--ifm-text-secondary);
  line-height: 1.6;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.featureCard {
  border: 1px solid var(--ifm-border-color);
  border-radius: var(--ifm-global-radius);
  padding: 1.5rem;
  transition: all 0.2s ease;
  min-height: 200px;
  box-shadow: 0px 0px 15px 0px var(--ifm-border-color);
}
