.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 0 2rem;

  @media screen and (min-width: 996px) {
    padding: 2rem 10rem;
  }
}

.container h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.container p {
  color: var(--ifm-text-secondary);
  line-height: 1.6;
}

.features_container {
  display: flex;
  gap: 1rem;

  @media screen and (min-width: 996px) {
    gap: 0;
  }
}

.feature_card {
  border: 1px solid var(--ifm-border-color);
  border-radius: var(--ifm-global-radius);
  padding: 1.5rem;
  transition: all 0.2s ease;
  min-height: 200px;
  box-shadow: 0px 0px 10px 0px #ffffff20;
}
